::-webkit-input-placeholder {
    color: #000;
}
::-moz-placeholder {
    color: #000;
}
:-moz-placeholder {
    color: #000;
}
:-ms-input-placeholder {
    color: #000;
}
a {
    text-decoration: none;

    @include transition;
}
.button {
    display: inline-block;

    box-sizing: border-box;

    cursor: pointer;
    text-decoration: none;

    @include transition;
}
