@mixin nl {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    list-style-position: outside;
}
@mixin cf {
    &:before,
    &:after {
        display: table;
        content: "";
    }

    &:after {
        clear: both;
    }

    .lt-ie8 & {
        zoom: 1;
    }
}
@mixin blocksJustify {
    text-align: justify;
    text-justify: newspaper;
}
@mixin transition
{
    transition: all .33s ease-in-out;
}
@mixin opacity
{
    opacity: .8;
}
@mixin absoluteCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
@mixin absoluteVerticalCenter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@mixin absoluteHorizontalCenter {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
