mixin follow(data)
	.follow
		.follow__title Следите за нами в Инстаграм
		.follow__inner
			.follow-gallery
				a(href="#" title="").follow-gallery__item
					img(src="%=static=%images/content/follow-gallery-item1.jpg" alt="").follow-gallery__image
				a(href="#" title="").follow-gallery__item
					img(src="%=static=%images/content/follow-gallery-item2.jpg" alt="").follow-gallery__image
				a(href="#" title="").follow-gallery__item
					img(src="%=static=%images/content/follow-gallery-item3.jpg" alt="").follow-gallery__image
				a(href="#" title="").follow-gallery__item
					img(src="%=static=%images/content/follow-gallery-item4.jpg" alt="").follow-gallery__image
				a(href="#" title="").follow-gallery__item
					img(src="%=static=%images/content/follow-gallery-item5.jpg" alt="").follow-gallery__image
				a(href="#" title="").follow-gallery__item._last
					img(src="%=static=%images/content/follow-gallery-item6.jpg" alt="").follow-gallery__image
