.development {
	@media screen and(max-width: 1050px) {
		padding-right: 10px;
		padding-left: 10px;
	}
	&__wrapper {
		padding: 55px 55px 25px;

		background-color: $purple;
		@media screen and(max-width: 960px) {
			padding-top: 15px;
			padding-right: 15px;
			padding-left: 15px;
		}
	}
	&__button {
		position: relative;

		margin-right: auto;
		margin-left: auto;
		padding: 24px 192px 18px 76px;

		text-align: center;
		text-transform: uppercase;

		color: $purple;
		background-color: $white;

		font-size: 17px;
		line-height: 1;

		@extend .button;
		@media screen and(max-width: 480px) {
			padding: 13px 69px 40px 74px;
		}
		&:before {
			position: absolute;
			top: 17px;
			right: 77px;

			width: 107px;
			height: 31px;

			content: "";

			background: url(%=static=%general/instagram.png);
			@media screen and(max-width: 480px) {
				top: 35px;
				left: 50%;

				transform: translateX(-50%);
			}
		}
	}
}
.development-top {
	display: flex;

	margin-bottom: 55px;

	align-items: center;
	justify-content: space-between;
	@media screen and(max-width: 480px) {
		display: block;

		margin-bottom: 40px;
	}
	&__logo {
		display: block;
		@media screen and(max-width: 480px) {
			margin-bottom: 25px;
		}
		img {
			display: block;
			@media screen and(max-width: 960px) {
				max-width: 100%;
				height: auto;
			}
		}
	}
	&__title {
		color: $white;

		font-family: "Lato-Medium";
		font-size: 76px;
		line-height: 63px;
		@media screen and(max-width: 960px) {
			font-size: 49px;
			line-height: 50px;
		}
		@media screen and(max-width: 760px) {
			font-size: 46px;
			line-height: 45px;
		}
		@media screen and(max-width: 480px) {
			font-size: 36px;
			line-height: 34px;
		}
		span {
			font-family: "Lato-Heavy";
		}
	}
}
.development-wrapper-button {
	text-align: center;
}
