mixin development(data)
	.development
		.development__wrapper
			.development-top
				a(href="#" title="").development-top__logo
					img(src="%=static=%images/content/logo.png" alt="") 
				.development-top__title Сайт сейчас<br>
					span в разработке
			+follow
			.development-wrapper-button
				a(href="#" title="").development__button Смотреть в